body{
margin:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
font-family: Helvetica,sans-serif;
color:#ffffff;
}
.imagenDeFondo{
background: url(../imagenes/amigo.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
		-moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

h2{
text-align:center;
font-family: 'Curlz MT';
font-size:50px;
}

.moverdiv1{
	width:200px;
	border:200px ;
	margin:0 auto;
	height:70px;
	text-align:left;
}

.colorDelBoton{
	font-family: Helvetica,sans-serif;
	color: #ffffff; 
	border: 2px #529ECC solid; 
	padding: 5px 20px 5px 20px; 
	background-color: #529ECC;
}